name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: card.tex
      - name: Upload PDF file
        uses: softprops/action-gh-release
        with:
          name: PDF
          path: card.pdf
